<mat-toolbar color="primary">
  <span>Stredko</span>
  <span class="example-fill-remaining-space"></span>
  <div class="navlinks">
    <a href="#home" color="primary"> Kto sme</a>
    <a href="#events">Udalosti</a>
    <a href="#contact">Kontakt</a>
  </div>
</mat-toolbar>

<!-- <header>
  <nav>
    <div class="stredko">
      <a routerLink="/">Stredko</a>
    </div>
    <div class="navlinks">
      <a routerLink="/about">Kto sme</a>
      <a routerLink="/about">Udalosti</a>
      <a routerLink="/contact">Kontakt</a>
      <a routerLink="/about">Prihlásenie</a>
    </div>
  </nav>
</header>

<header>
  <nav>
    <div class="stredko">
      <h1>StreDko</h1>
    </div>
    <div class="navlink">
      <a href="#home">Domov</a>
      <a href="#about">Kto sme?</a>
      <a href="#events">Udalosti </a>
      <a href="#contact">Kontakt</a>
    </div>
  </nav>
</header> -->
